body {
font-family: "Roboto", sans-serif;
color: #434455;
background: #FFF;
}

a {
text-decoration: none;
}
ul {
list-style: none;
}


/*Logo*/
.header-style {
background: var(--WHITE, #FFF);
border-bottom: 1px solid #e7e9fc;

}
.header-style-link {
display: flex;
align-items: center;

}
.header-container {
        width: 1440px;
        height: 72px;
        justify-content: center;
}

.logo-style {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;

}



.logo-accent {
color: #2e2f42;
}

/*Info*/ 
.info-menu {
display: flex;
    gap: 40px;
}

.info {
    font-weight: 500;
color: #2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
padding-top: 24px;
padding-bottom: 24px;

}
.info:hover, .info:focus, .info:active {
color: #404BBF;
}

/*Address*/
.address-link {
font-style: normal;
}
.address-info {
display: flex;
gap: 40px;

}
.address-style {
    line-height: 1.5;
font-weight: 500;
letter-spacing: 0.02em;
color: #434455;
}

.address-style:hover {
        color: #404bbf;
    }

.address-style:focus {
    color: #404bbf;
}


/*Section1*/

.section-one {
color: #2E2F42;
padding-top: 188px;
padding-bottom: 188px;

}
.container-one-fon {
background-color: #2E2F42;
width: 1440px;
    height: 600px;
    flex-shrink: 0;
}
.button-style {
color: #ffffff;
font-family: "Roboto", sans-serif;
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
display: inline-flex;
    padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}
.button-style:hover, .button-style:focus {
        background-color: #404BBF;
}

.section-one-name{
font-size: 56px;
line-height: 1.07;
color: white;
font-weight: 700;
text-align: center;
letter-spacing: 0.02em;
padding: 188px 472px 292px 188px;
max-width: 496px;
}

/*Section2*/

.section-two {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
font-weight: 500;
}

.section-two-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}


/*Section3*/

.section-three-style {
    color: #F4F4FD;
    flex-shrink: 0;
}
.container-three-fon {
    background-color: #F4F4FD;
    width: 1440px;
        height: 732px;
        flex-shrink: 0;
        
}

.section-proffesion {
line-height: 1.5;
letter-spacing: 0.02em;
}

/*Section4*/

.container-four {
width: 1440px;
    height: 3300px;
}
.section-four-menu {
display: flex;
flex-wrap: wrap;
column-gap: 24px;
row-gap: 48px;

}
.container-four-menu {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;

}
.section-name {
font-size: 36px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
font-weight: 700;
line-height: 1.11;
margin-bottom: 72px;
}

.fon-section {
    background-color: #FFFFFF;
    justify-content: center;
        align-items: center;
       
}
.fon-section-our-portfolio {
border: 1px solid var(--CORNFLOWER, #E7E9FC);
width: calc((100% - 48px) / 3);
}

.name-style {
font-size: 20px;
letter-spacing: 0.02em;
color: #2e2f42;
font-weight: 500;
line-height: 1.2;
margin-bottom: 8px;
}

/*Footer*/

.footer-fon {
color: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;
}

.footer-style {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.accent-footer {
    color: #f4f4fd;
}



.footer-style-link {
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
}
.footer-container {
    width: 1440px;
        height: 312px;
    flex-shrink: 0;
    background-color: #2e2f42;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
margin: 0;

}


.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.section {
padding-top: 120px;
padding-bottom: 120px;
}
img {
display:block;
}