body {
font-family: "Roboto", sans-serif;
color: #434455;
background: #FFF;
}

a {
text-decoration: none;
}
ul {
list-style: none;
}


/*Logo*/

.logo-style {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
text-transform: uppercase;
color: #4D5AE5;;
letter-spacing: 0.03em;
}


.accent {
color: #2e2f42;
}

/*Info*/ 


.info {
    font-weight: 500;
color: #2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
.info:hover, .info:focus, .info:active {
color: #404BBF;
}

/*Address*/
.address-link {
font-style: normal;
}

 .address-style {
    line-height: 1.5;
font-weight: 500;
letter-spacing: 0.02em;
color: #434455;
}

.address-style:hover {
        color: #404bbf;
    }

.address-style:focus {
    color: #404bbf;
}


/*Section1*/

.hero {
background-color: #2E2F42;
}

.button-style {
color: #ffffff;
font-family: "Roboto", sans-serif;
background-color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
}
.button-style:hover, .button-style:focus {
        background-color: #404BBF;
}

.solutions{
font-size: 56px;
line-height: 1.07;
color: white;
font-weight: 700;
text-align: center;
letter-spacing: 0.02em;
}

/*Section2*/

.solutions-item {
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
font-weight: 500;
}

.solutions-link {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

/*Section3*/

.hero-one {
    background-color: #F4F4FD;
}

.profession {
line-height: 1.5;
letter-spacing: 0.02em;
}

/*Section4*/


.our-time-style {
font-size: 36px;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2E2F42;
font-weight: 700;
line-height: 1.11;
}

.fon-section-three {
    background-color: #FFFFFF;
}


.name-style {
font-size: 20px;
letter-spacing: 0.02em;
color: #2e2f42;
font-weight: 500;
line-height: 1.2;

}

 /*Footer*/

.footer-fon {
background-color: #2e2f42;
}

.footer-style {
font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
}

.accent-footer {
    color: #f4f4fd;
}



.footer-style-link {
line-height: 1.5;
color: #F4F4FD;
letter-spacing: 0.02em;
}